.App {
  min-height: 100%;
  background-color: #f5f5f5;
}

.auth-card {
  width : 40%;
  top : 80px;
  min-width: 300px;
}

.grayBorderless{
  border: 0;
  background-color: #f5f5f5;
}

.errorBox{
  border : 1px solid red !important;
  background-color: #f5f5f5;
}

input::placeholder{
  color: #e9e9e9 !important;
  font-weight: bold ;
}

label{
  font-weight: 500;
  font-size: 18px;
}

.inputHelp{
  font-size: 12px;
  color: #afafaf;
}

.formButton{
  width : 30%;
  min-width: fit-content;
}

.invalidField{
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.alertBox{
  font-size: 14px;
}

.alertButton{
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  position : absolute;
  top : 2%;
  right : 2%;
}
.alertButton:focus {
  outline: none;
  box-shadow: none;
}