/* CSS for app background and height */
.App {
  min-height: 100%;
  background-color: #fbfbfb;
}

/* For login and signup pages */
.auth-card {
  width: 40%;
  top: 80px;
  min-width: 300px;
}

.grayBorderless {
  border: 0;
  background-color: #f7f7f7;
}

.errorBox {
  border: 1px solid red !important;
  background-color: #f7f7f7;
}

input::placeholder {
  color: #e9e9e9 !important;
  font-weight: bold;
}

label {
  font-weight: 500;
  font-size: 18px;
}

.inputHelp {
  font-size: 12px;
  color: #afafaf;
}

.formButton {
  width: 30%;
  min-width: fit-content;
}

.invalidField {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

/* Styling for alerts used in loginflow */
.alertBox {
  font-size: 14px;
}

.alertButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
}
.alertButton:focus {
  outline: none;
  box-shadow: none;
}

/* Styling for dashboard sidebar */
#sidebar {
  width: 225px;
  height: 92vh;
  padding: 0 !important;
}

.user-logo {
  background-color: #f5f5f5;
  height: 24%;
  width: 100%;
  position: relative;
}

.logo {
  display: inline-block;
  font-size: 200%;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border: solid 1px #e9e9e9;
  text-align: center;
  border-radius: 50%;
  background: #ffffff;
  vertical-align: middle;
  color: #1d1d1d;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
}

.nameDiv {
  position: absolute;
  height: 50%;
  bottom: 0%;
  width: 100%;
  padding: 5%;
  overflow: hidden;
}
.name {
  display: inline-block;
  border: 0;
  font-weight: bold;
  color: #1d1d1d;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  word-wrap: break-word;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.bigFont {
  font-size: 125%;
}
.smallFont {
  font-size: 80%;
}

.navtabs {
  background-color: #f5f5f5;
  width: 100%;
  height: 75.5%;
  position: relative;
}
.Nav-link{
  display: block;
  padding: 0.5rem 2rem;
  color: #333333;
}
.Nav-link:hover{
  color : unset;
  text-decoration: none;
  background-color: #e7e7e7;
}
.Nav-link:visited{
  color:unset;
}
.Nav-active{
  background-color: #FBFBFB;
}